<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.vishal.covid19india">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:name="com.vishal.covid19india.utils.Covid19IndiaApplication"
    android:allowBackup="true"
    android:fullBackupContent="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:hardwareAccelerated="true"
    android:usesCleartextTraffic="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:targetApi="n">

    <activity
      android:name="com.vishal.covid19india.view.activity.RawDataPatientDetailsActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name="com.vishal.covid19india.view.activity.HomeActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      tools:ignore="LockedOrientationActivity" />
    <activity
      android:name="com.vishal.covid19india.view.activity.SplashActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.NoActionBar"
      tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>